<h1>Create New Account</h1>
<%= form_for @user do |f| %>

    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :height, "Height (in inches)" %>
    <%= f.number_field :height %>
    <br>
    <%= f.label :happiness, "How happy are you? (1-10 scale)" %>
    <%= f.number_field :happiness %>
    <br>
    <%= f.label :nausea, "How nauseous are you? (1-10 scale)" %>
    <%= f.number_field :nausea %>
    <br>
    <%= f.label :tickets, "How many tickets do you have?" %>
    <%= f.number_field :tickets %>
    <br>
    <%= f.label :admin, "Are you are an admin?" %>
    <%= f.check_box :admin %>
    <br>
    <%= f.submit  %>
  <br>

<% end %> 

